# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sentry Config File
.env.sentry-build-plugin
SENTRY_AUTH_TOKEN=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